In [ ]:
data=pd.read_csv("/content/dataset_tk.csv")
data.describe

FileNotFoundError: ignored

In [ ]:
data.info

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [ ]:
data.rename(columns={"Unnamed: 0":"Date"},inplace=True)
data['Date']=pd.to_datetime(data["Date"],dayfirst=True)
data["year"]=data["Date"].dt.year
data["month"]=data["Date"].dt.month
data["day"]=data["Date"].dt.day
data.drop(["Date"],axis=1,inplace=True)
data.head(2)

In [ ]:
long=pd.read_csv("/content/long_data_.csv")
long['Dates']=pd.to_datetime(long["Dates"],dayfirst=True)
long["year"]=long["Dates"].dt.year
long["month"]=long["Dates"].dt.month
long["day"]=long["Dates"].dt.day
long.drop(["latitude","longitude","Dates"],axis=1,inplace=True)
long.head(2)

In [ ]:
c=dict()
for i in (long.Regions.unique()):
    a=long[(long["Regions"]==i)&(long["year"]==2020)]
    b=a.Usage.sum()
    c.update({i:b})
    
print(c)

d=dict()
for i in (long.Regions.unique()):
    a=long[(long["Regions"]==i)&(long["year"]==2019)]
    b=a.Usage.sum()
    d.update({i:b})
    
print(d)

In [ ]:
print(f" maximum power consumed in 2020 is {c[max(c)]} by {max(c)} region\n minmum power consumed in 2020 is {c[min(c)]} by {min(c)} region  ")
print(f" maximum power consumed in 2019 is {d[max(d)]} by {max(d)} region\n minmum power consumed in 2019 is {d[min(d)]} by {min(d)} region  ")

In [ ]:
table1=pd.DataFrame.from_dict(c,orient="index")
table2=pd.DataFrame.from_dict(d,orient="index")

In [ ]:
table1.rename(columns={0:"total usages (2020)"},inplace=True)
table2.rename(columns={0:"total usages (2019)"},inplace=True)

In [ ]:
table1.head(5)

In [ ]:
plt.figure(figsize=(10, 5))
sns.barplot(x="total usages (2020)",y=table1.index,data=table1)

In [ ]:
plt.figure(figsize=(10, 5))
sns.barplot(x="total usages (2019)",y=table2.index,data=table2)

In [ ]:
usage2020=dict()
for i in (long.States.unique()):
    a=long[(long["States"]==i)&(long["year"]==2020)]
    b=a.Usage.sum()
    usage2020.update({i:b})
usage2019=dict()
for i in (long.States.unique()):
    a=long[(long["States"]==i)&(long["year"]==2019)]
    b=a.Usage.sum()
    usage2019.update({i:b})

In [ ]:
table3=pd.DataFrame.from_dict(usage2020,orient="index")
table4=pd.DataFrame.from_dict(usage2019,orient="index")

In [ ]:
table3.rename(columns={0:'toat usage in 2020'},inplace=True)
table4.rename(columns={0:'toat usage in 2019'},inplace=True)

In [ ]:
table3.sort_values(by=['toat usage in 2020'],ascending=False,inplace=True)
table4.sort_values(by=['toat usage in 2019'],ascending=False,inplace=True)

In [ ]:
print('Top 10 states that consume maximum power in 2020')
table3.head(10)

In [ ]:
print('Top 10 states that consume maximum power in 2019')
table4.head(10)

In [ ]:
table5=table4.head(10)
plt.figure(figsize=(15, 5))
sns.barplot(y="toat usage in 2019",x=table5.index,data=table5)
print("Top 10 states that consume maximum power in 2019")

In [ ]:
table5=table4.head(10)
plt.figure(figsize=(15, 5))
sns.barplot(y="toat usage in 2019",x=table5.index,data=table5)
print("Top 10 states that consume maximum power in 2019")

In [ ]:
dataset=pd.read_csv('Social_Network_Ads.csv')
X=dataset.iloc[:,[2,3]].values
y=dataset.iloc[:, -1].values 
# print(dataset.head())
print(y)

Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [ ]:
import seaborn as sns 
sns.pairplot(dataset,hue='Purchased')

Training the Logistic Regression model on the training set

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

In [ ]:
from matplotlib.colors import ListedColormap
X_set, y_set = X_train, y_train
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Logistic Regression (Training set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

**Visualing the Trainig set results**

making the confusion matrix
> Indented block

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred) 
print(cm)

In [ ]:
dataset=pd.read_csv("salaries.csv")
dataset.head(8)

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
x=dataset.drop('salary_more_then_100k',axis='columns')
y=dataset['salary_more_then_100k']

print(x)
y

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_company =LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [ ]:
x['company_n']=le_company.fit_transform(x['company'])
x['job_n']=le_job.fit_transform(x['job'])
x['degree_n']=le_job.fit_transform(x['degree'])
x

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1